* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fondo.jpg);
}

p {
    font-size: 30px;
}

.primeraalerta, .segundaalerta {
    display: none;
}

.cajas::placeholder {
    font-size: 20px;
}

.presumensual {
    width: 100%;
    font-size: 24px;
    border-radius: 2px;
}

.alerta-presupuesto {
    margin-top: 20px;
    background-color: rgba(150, 141, 141, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.presupuestomensual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
}

.contenedorpadre {
    margin-top: 20px;
    width: 70%;
}

.contenedorentrada {
    margin-top: 20px;
    background-color: rgba(150, 141, 141, 0.5);
    border-radius: 5px;
    padding: 5px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

.alertas {
    margin-top: 10px;
}

.primeraentrada {
    margin-top: 10px;
}

.primeraalerta {
    text-align: center;
    margin: 5px;
    background-color: rgb(150, 211, 173);
    border-radius: 5px;
    padding: 5px;
}

.segundaalerta {
    text-align: center;
    margin: 5px;
    background-color: rgb(218, 141, 141);
    border-radius: 5px;
    padding: 5px;
}

.cajas {
    width: 100%;
    border-radius: 2px;
    font-size: 24px;
}

.segundaentrada {
    margin-top: 10px;
}

.borrar {
    background-color: rgb(218, 141, 141);
}

.cantidad {
    background-color: rgb(106, 166, 206);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

h5 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
    border-radius: 2px;
    background-color: rgb(106, 166, 206);
    font-size: 22px;
}

.contenedorsalidad {
    margin-top: 20px;
    background-color: rgba(150, 141, 141, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.cartas {
    margin-top: 10px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(150, 141, 141, 0.5);
}

.informacion {
    margin-top: 10px;
}

.presupuesto {
    background-color: rgb(106, 166, 206);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.restante {
    background-color: rgb(218, 141, 141);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

h4 {
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace
}

@media (max-width: 1400px) {
    .contenedorpadre {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .contenedorpadre {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .contenedorpadre {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .contenedorpadre {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    h5 {
        font-size: 20px;
    }

    button {
        font-size: 20px;
    }

    h4 {
        font-size: 28px;
    }

    p {
        font-size: 29px;
    }
}

@media (max-width: 430px) {
    .contenedorpadre {
        width: 100%;
    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

    button {
        font-size: 15px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 240px) {
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    h5 {
        font-size: 10px;
    }

    button {
        font-size: 12px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }
}