*{
    margin: 5px;
}

.presupuestomensual{
    background-color: rgb(0, 225, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:5px;
    margin: 100px;
    align-content: center;
}

.gasto{
        font-size: 33px;
        color: #000000;
        margin-top: 10px;
        border-radius: 5px;
}

.contenedorpadre{
    display: flex;
    flex-direction: column;
    border: 0.5px;
    border-radius:5px;
    margin: 7px;
    background-color: white;
}

.contenedorpadre{
display: grid;
grid-template-columns: repeat(2, 1fr);
    border: 0.5px;
    border-radius:5px;
    margin: 7px;
    background-color: white;
}

.contenedorentrada{
    margin-left: 33px;
    margin-top: 33px;
}

.contenedorsalidad{
    margin-right: 33px;
    margin-top: 33px;
}